<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} Titulo Base {% endblock %}</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
			<script type="text/javascript">
		$(document).ready(function(){
			$("#guardar").click(function(e){
				
				var advertencia = confirm("¿Desea guardar los cambios?");
				if (advertencia == true){
					return true;
				}else{
					return false;	
				}
				
			});	
		});
		
	</script>
</head>
<body>
	<header>
		
		<h1>Proyecto inventario funeraria </h1>
		<nav>
			<a href="{% url 'vista_index' %}">Inicio</a>
			<a href="{% url 'vista_productos'%}">Productos</a>
			
		</nav>	
	</header>
	<section>
		{% block content%}
		{% endblock %}
	</section>
</body>
</html>