<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} Titulo Base {% endblock %}</title>
	<!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="estilos/css/materialize.min.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
	<header>
		
		<h1>Proyecto inventario funeraria </h1>
		<nav>
			<a href="{% url 'vista_index' %}">Inicio</a>
			<a href="{% url 'vista_productos'%}">Productos</a>
			
		</nav>	
	</header>
	<section>
		{% block content%}
		{% endblock %}
	</section>
	<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="estilos/js/jquery-2.1.4.min.js"></script>
      <script type="text/javascript" src="estilos/js/materialize.min.js"></script>
</body>
</html>