{% extends 'base.html' %}

{% block title %}
	 Editar Entrada
	 
{% endblock %}

{% block content %}
	<h5 align="center">Editar Entrada</h5>
	{% if user.is_authenticated  and user.is_superuser = True %}
	<form action="." method= "POST" enctype = "multipart/ form-data">
		{% csrf_token %}
		{{ form.as_p}}
		<button class="btn waves-effect waves-light" type="submit" >Guardar
			<i class="material-icons right">note_add</i>
		</button>
		
		<button class="btn waves-effect waves-light" type="reset" >Limpiar
			<i class="material-icons right">loop</i>
		</button>
	</form>
	<br>
	{{men}}
	{% else %}
		{% if user.is_authenticated and user.is_superuser = False %}
			<p>Solo una cuenta administrador puede editar una entrada</p>
		{% else %}
			<P>Debes estar utenticado para poder ver el contenido</P>
			<a  class="waves-effect waves-light btn" href="{% url 'vista_login' %}"><i class="material-icons left medium">supervisor_account</i>Iniciar Sesion</a>
		{% endif %}
	{% endif %}
{% endblock %}